.container {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.react-flow__attribution {
	display: none;
	height: 0;
	visibility: 0;
	width: 0;
}

.react-flow__controls.react-flow__panel {
	bottom: 25px;
}

.react-flow__minimap.react-flow__panel {
	right: 50px;
}

.diagram__property-panel {
	background-color: white;
	max-width: 200px;
	text-wrap: wrap;
	word-break: break-all;
}

.react-flow__node-condition {
	align-items: center;
	display: flex;
	height: 50px;
	justify-content: center;
	position: relative;
	width: 50px;
}

.react-flow__node-condition .content {
	position: relative;
  color: white;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.react-flow__node-condition .react-flow__handle-top {
	top: -15px;
}

.react-flow__node-condition .react-flow__handle-bottom {
	bottom: -15px;
}

.react-flow__node-condition::before {
	background-color: #FA9F42;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 2px;
	bottom: 0;
	content: "";
	display: block;
	height: 50px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: rotate(45deg);
	width: 50px;
}

.react-flow__node-condition.selected::before,
.react-flow__node-condition:focus::before {
	box-shadow: 0 0 0 0.5px #1a192b;
}
