* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	position: relative;
	height: 100vh;
	width: 100%;
}

.container > .diagram {
	width: 100%;
	height: 100%;
}

.react-flow__attribution {
	display: none;
	height: 0;
	visibility: 0;
	width: 0;
}

.react-flow__panel.react-flow__controls {
	border-radius: 5px;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}

.react-flow__controls-button {
	border-right: 1px solid rgba(0, 0, 0, 0.08);
	width: 24px;
	height: 24px;
}

.react-flow__controls-button svg {
	max-width: 20px;
	max-height: 20px;
}

.diagram__property-panel {
	background-color: white;
	max-width: 200px;
	text-wrap: wrap;
	word-break: break-all;
}

.react-flow__node-condition {
	align-items: center;
	display: flex;
	height: 50px;
	justify-content: center;
	position: relative;
	width: 50px;
}

.react-flow__node-condition .content {
	position: relative;
	color: white;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.react-flow__node-condition .react-flow__handle-top {
	top: -15px;
}

.react-flow__node-condition .react-flow__handle-bottom {
	bottom: -15px;
}

.react-flow__node-condition::before {
	background-color: #fa9f42;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 2px;
	bottom: 0;
	content: "";
	display: block;
	height: 50px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: rotate(45deg);
	width: 50px;
}

.react-flow__node-condition.selected::before,
.react-flow__node-condition:focus::before {
	box-shadow: 0 0 0 0.5px #1a192b;
}

@media screen and (max-width: 768px) {
	.react-flow__minimap {
		display: none;
	}
}
